* {
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
}
body {
  font-family: "lora";
}
a {
  text-decoration: none;
}
.padre {
  display: flex;
  flex-flow: column nowrap;
}
.header {
  background: url(../imagenes/2.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}
.menu {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid white;
}
.logo {
  flex: 1 1 auto;
}
.logo a {
  color: white;
  font-size: 30px;
}
.logo a:hover {
  color: #343434;
}
.nav {
  flex: 5 1 auto;
}
.nav a {
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}
.nav a:hover {
  color: #343434;
}
.social {
  flex: 1 1 auto;
  display: flex;
}
.social a {
  font-size: 15px;
  color: white;
  padding: 0 5px;
}
.social a:hover {
  color: #343434;
}
.texto-principal {
  background-color: #f3b664;
}
h1 {
  background-color: #f1eb90;
}
.section {
  background: #000;
  display: flex;
}
.articulos {
  background-color: #ec8f5e;
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap;
}
.article {
  background-color: #9fbb73;
  flex: 1 1 40%;
}
.article img {
  width: 500px;
  height: 281px;
}
.navegacion {
  background-color: #dcbfff;
  flex: 1 1 100%;
}
.aside {
  background-color: #e5d4ff;
  flex: 1 1 auto;
}
.publicidad {
  background-color: #d2de32;
}
.publicidad img {
  width: 500px;
  height: 281px;
}
.footer {
  background: #000;
  display: flex;
  justify-content: center;
}
.pie {
  background-color: #f1eb90;
  width: 300px;
}
@media all and (max-width: 800px) {
  .section {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    height: auto;
  }
  .aside {
    display: flex;
    justify-content: center;
  }
}
@media all and (max-width: 600px) {
  .articulos {
    flex-direction: column;
  }
}
@media all and (max-width: 400px) {
  .aside {
    flex-direction: column;
  }
}
